* {
  font-weight: 500;
}
.body{
  max-width: 1490px;
  margin: auto;
}
.text-orange{
  color: #F15A29;
}
.text-purple{
  color: #623F99;
}
.bg-purple{
  background-color: #623F99;
}
.text-green{
  color: #39B54A;
}
.bg-green{
  background-color: #39B54A;
}
.text-lightblue{
  color: #177AA7;
}
.bg-lightblue{
  background-color: #177AA7;
}
.text-red{
  color: #EE2A7B;
}
.bg-red{
  background-color: #EE2A7B;
}
.text-darkorange{
  color: #E65025;
}
.font-normal{
  font-weight: 400;   
}
.decoration-none{
  text-decoration: none;
}
.w-fit{
  min-width: fit-content;
}
.text-black{
  color: black;
}
.bg-darkorange{
  background:#E65025 ;
}
.birdAndResidentDiv{
  background: #FFFDF5; padding-bottom: 50px;
}
.residentSectionImage{
  width: 100%;height: 80%;border-radius: 20px;
}
.w-90{
  width: 90%;
}
.text-lg{
  font-size: 20px; font-weight: 400;
}
.text-base{
  font-size: 18px; font-weight: normal;
}
.py-4{
  padding-top:16px ;
  padding-bottom: 16px;
}
.pt-10{
  padding-top: 40px;
}
.w-80{
  width: 80%;
}
.w-80{
  width: 80%;
}
.w-130{
  width: 130px;
}
.w-full{
  width: 100%;
}
.ImageResponsive {
  width: 100%;
  height: 100%;
     object-fit: contain;
}
.bottomLeftInput {
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 12px 16px;
}
.text-xl{
  font-size: 36px;
}
.closeOption{
  display: inline-block;
  padding: 5px 13px;
  color: white;
  margin: 0;
  border-radius: 20px;
  margin-left: 90%;
  cursor: pointer;
 }
 .popUpDiv{
   display: none;
   justify-content: center;
   width: 95%;
   margin: auto;
   padding: 40px 20px;
   background: rgba(0, 0, 0, 0.7); /* Black with transparency */
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   align-items: center;
   justify-content: center;
   overflow-y: auto;
   z-index: 99;
 
 }
 .PopUpCenter{
   max-width: 780px;
   margin: auto;
   text-align: center;
   background: white; /* White popup */
   padding: 20px;
   border-radius: 10px;
   text-align: center;
 }
.menuButtonDash1{
  min-width: 35px;
  height: 5px;background-color: #E41D73;
  border-radius: 10px;margin: 0; margin-bottom: 4px;
}
.menuButtonDash2{
  min-width: 35px;
            height: 5px;background-color: #00AEEF;
            border-radius: 10px;margin: 0;
}
.navbarDiv {
  margin-top: 20px;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchButton {
  background: #FFE6C4;
  color: #E65024;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
}

.allLinks {
  border-radius: 8PX;
  background: #FFE6C4;
  display: flex;
  padding: 0 20px;
}

.linksButtons {
  display: flex;
  gap: 20px;
  font-weight: 400;
  font-size: 18px;
}

.link {
  background: #FFE6C4;
  color: #E65024;
  padding: 12px 16px;
}

.link a {
  text-decoration: none;
  background: #FFE6C4;
  color: #E65024;
  padding: 12px 16px;
}

.navbarLeft {
  min-width: 130px;
  height: 130px;
}

.Orangebutton {
  background-color: #F15A29;
  color: white;
  border: navajowhite;
  border-radius: 8px;
  padding: 10px 20px;
}

.Purplebutton {
  background-color: #623F99;
  color: white;
  border: navajowhite;
  border-radius: 8px;
  padding: 10px;
}

.navbarText {
  padding-top: 10px;
  color: #312D2D;
  font-size: 40px;
  font-weight: 500;
}

.HeadingLeftSide {
  width: 100%;
  padding: 50px 20px;
  background-image: url("./BackgroundVector.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.menuButton {
  display: none;
  align-items: center;
  gap: 10px;
}

.headingRightSide {
  min-width: 130px;
  min-height: 160px;
}

.HeadingText {
  justify-content: center;
  display: flex;
  gap: 20px;
  align-items: center;
}

.vectorHide {
  display: none;
}
.CardHeadingText {
  font-size: 36px;
  margin: 0;
}
.allLinksResp a{
  padding: 0;
}
.allLinksResp{
  background: #FFE6C4;
}
.respInput{
  width: 90%;
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid #E65024;
  margin: 16px
}
.linksButtonsResponsive{
  display:none ;
}
.mt-1{
  margin-top: 4px;
}
@media screen and (max-width: 900px) {
  .navbarLeft {
    min-width: 100px !important;
    max-height: 100px !important;
  }
  .navbarDiv {
    margin-top: 20px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .HeadingText {
    flex-direction: column;
  }
  .HeadingLeftSide {
    background-image: none;
    padding: 10px 20px;
    margin: 0;
  }
  .CardHeadingText {
    font-size: 26px;
    margin: 0;
  }
  .vectorHide {
    display: flex;
    max-width: 70% !important;
  }
  .headingRightSide {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .beeImage {
    max-width: 120px;
    max-height: 120px;
  }
  .navbarText {
    font-size: 30px;
  }
}
@media screen and (max-width: 1320px) {
  .navbarDiv {
    padding: 10px 10px;
  }
  .linksButtons {
    display: flex;
    gap: 10px;
    font-weight: 400;
    font-size: 18px;
  }
  .linksButtons {
    display: flex;
    gap: 10px;
    font-weight: 400;
    font-size: 18px;
  }
  .link {
    background: #FFE6C4;
    color: #E65024;
    padding: 12px 16px;
  }
}
@media screen and (max-width: 1230px) {
  .navbarRight {
    display: none;
  }
  .menuButton {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.firstImage {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.collaborationImageDiv {
  min-width: 280px;
  height: 150px;
}

/* Cards section css  */
.Allcards {
  margin: 50px auto;
  width: 95%;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.singlecard {
  width: 45%;
  background-color: #FCF7EC;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid lightgray;
}



.inputWrapingDiv {
  display: flex;
  flex-wrap: wrap;
}

.eachInput {
  width: 50%;
  padding-top: 30px;
}

.box {
  width: 40px;
  height: 40px;
  background: #D9D9D9;
}

.cardButtons {
  width: 188px;
  padding: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  font-weight: 400;
}
.collaborationWrap{
  display: flex; gap: 80px; overflow-x: auto; padding:0 10px; margin: 0 10px;
}
.ourcollaborationText{
  display: flex;justify-content: center;font-size: 25px; font-weight: 500;color: #626262;padding: 20px 0;
}
/* Bottom div css  */
.botomLeftUpperDiv {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 20px;
  background-color: #FCF7EC;
}

.botomLeftBottomDiv {
  padding: 30px;
  display: flex;
  border: 1px solid lightgray;
  border-radius: 20px;
  background-color: #F9F2FF;
}

.DiscoverDiv {
  width: 50%;
}
.visitUsCardHeadingText {
  font-size: 40px;
  font-weight: 500;
  color: orange;
  padding: 10px 0;
  margin: 0;
}
.bottomLeftDiv {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.botomLeftUpperDiv {
  padding: 30px;
}

.bottomLeftWrapDiv {
  display: flex;
  flex-wrap: wrap;
}
.joinNewletterInput{
  border-radius: 8px;outline: none;border: none;padding:12px 16px ;width: 100%; 
}
.bottomDivHeading {
  font-size: 40px;
}

.bottomLeftWrapText {
  font-size: 20px;
  font-weight: 400;
  padding: 4px 0;
  margin: 0;
  width: 50%;
}

.InputWrap {
  display: flex;
  width: 50%;
  gap: 20px;
  padding: 10px;
}

.InputWrapContainer {
  display: flex;
  gap: 20px;
  padding: 10px;
  justify-content: space-around;
}

.bottomRightDiv {
  position: relative;
  width: 30%;
  background-color: #EDF9FF;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #1679A7;
}

.bottomDiv {
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color: #FFFDF5;
}

.footerAbsoluteImage {
  position: absolute;
  bottom: -16px;
  right: -40px;
  width: 280px;
  height: 280px;
}

@media screen and (max-width: 1060px) {
  .botomLeftUpperDiv {
    padding: 20px;
  }
  .botomLeftBottomDiv {
    padding: 20px;
  }
  .bottomRightDiv {
    padding: 20px;
  }
}
@media screen and (max-width: 920px) {
  .bottomDiv {
    flex-direction: column;
    align-items: center;
  }
  .bottomLeftDiv {
    width: 97%;
  }
  .bottomRightDiv {
    width: 97%;
  }
}
@media screen and (max-width: 640px) {
  .bottomDiv {
    flex-direction: column;
    align-items: center;
  }
  .bottomLeftDiv {
    width: 97%;
  }
  .bottomRightDiv {
    width: 97%;
  }
  .bottomLeftWrapText {
    font-size: 20px;
    font-weight: 400;
    color: orange;
    padding: 4px 0;
    margin: 0;
    width: 100%;
  }
  .InputWrapContainer {
    flex-direction: column;
  }
  .InputWrap {
    width: 100%;
  }
}
.firstImageDiv {
  width: 95%;
  margin: auto;
  padding: 20px;
}
.footerEaachDot{
  width: 28px; height: 28px;border-radius: 20px;border: 1px solid #ED2A7B;margin: 0;
}
.footerImageDiv {
  width: 95%;
  margin: auto;
  padding: 20px;
}

.footerDiv {
  background: #FFFDF5;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerDots {
  display: flex;
  gap: 16px;
  align-items: center;
}
.footerCenterText{
  display: flex;justify-content: center;width: 100%;
}
.Allrights {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footerLeft {
  width: 100%;
}

.footerRight {
  width: 180px;
  height: 190px;
}

.stalkUs {
  padding: 20px;
  display: flex; gap: 20px; align-items: center;color: #ED2A7B;
}

.cardButtons {
  width: 188px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .Allcards {
    margin: 50px auto;
    width: 99%;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 810px) {
  .singlecard {
    width: 96%;
    background-color: #FCF7EC;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid lightgray;
  }
}
@media screen and (max-width: 920px) {
  .footerDiv {
    flex-direction: column;
    padding: 10px;
    display: flex;
  }
  .Allrights {
    flex-direction: column;
  }
  .stalkUs {
    padding: 40px 0;
    display: flex;
    justify-content: center;
  }
  .footerText {
    margin: 0;
    font-weight: 400;font-size: 20px;
  }
  .footerAbsoluteImage {
    display: none;
  }
  .footerImageDiv {
    width: 96%;
    padding: 0;
  }
  .firstImageDiv {
    width: 96%;
    padding: 0;
  }
}
.faqDiv {
  width: 92%;
  margin: auto;
  padding: 30px;
  display: flex;
  border: 1px solid lightgray;
  border-radius: 20px;
  background-color: #F4FAEF;
}

.faq {
  background: #FFFDF5;
  padding: 30px 0;
}

.faqLeftside {
  width: 20%;
}

.eachFaq {
  background: #FCF7EC;
  color: #E65025;
  font-size: 20px;
  font-weight: normal;
  display: flex;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #E65025;
  padding: 10px 30px;
  padding-left: 170px;
  position: relative;
  width: 320px;
}

.FooterAbsolut {
  position: absolute;
  bottom: 0;
  left: 20px;
}

.faqText {
  display: flex;
  gap: 30px;
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 940px) {
  .faqDiv {
    display: none;
  }
}/*# sourceMappingURL=Style2.css.map */

.popup-overlay {
  padding: 40px 0;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.popup {
  margin-top: 450px;
  background: white;
  border-radius: 10px;
  width: 90%;
  max-width: 780px;
  padding: 50px;
  position: relative;
  text-align: center;
}
.email-image{
  display: flex;
  justify-content: space-between;
}
.text-start{
  text-align: start;
}
.w-60{
  width: 50%;
}
@media screen and (max-width:900px) {
  .popup {
    margin-top: 650px;
    background: white;
    border-radius: 10px;
    width: 90%;
    max-width: 780px;
    padding: 10px;
    position: relative;
    text-align: center;
  }
  .container {
    padding: 10px;
  }
  .email-image{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .min-w-full{
    min-width: 100%;
  }
}
@media screen and (max-width:600px) {
  .popup {
    margin-top: 750px;
  }
  .w-60{
    width: 90%;
  }
}
@media screen and (max-width:450px) {
  .popup {
    margin-top: 790px;
  }
}
.min-w-full{
  width: 100%;
}
.title {
  margin-bottom: 10px;
}

.subtitle {
  margin-bottom: 20px;
}

.popup-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.date-picker, .time-picker {
  width: 45%;
}

.date-picker h2, .time-picker h2 {
  margin-bottom: 10px;
}

.calendar {
  padding: 10px;
  border-radius: 10px;
  color: white;
}
.text-white{
  color: white;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 10px;
}

.calendar-grid div {
  padding: 10px;
  background: white;
  color: orange;
  border-radius: 5px;
  text-align: center;
}

.highlighted {
  background: darkorange;
  color: white;
}
.timeDiv{

}
.time {
  padding: 10px 0;
  border-radius: 5px;
}

.email-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.email-section input {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #AD0B57;
  border-radius: 5px;
}
.flex{
  display: flex;
}
.submit-btn {
  width: 138px;
  background-color: #AD0B57;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.container {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  overflow: hidden;
}
@media screen and (max-width:800px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.calendar-container, .time-container {
  text-align: center;
  color: orange;
}

.calendar {
  background: #ff6633;
  color: white;
  border-radius: 10px;
  width: 370px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}
@media screen and (max-width:450px) {
  .calendar {
    width: 330px;
    padding:20px 5px;
  }
}
@media screen and (max-width:400px) {
  .calendar {
    width: 300px;
    padding:20px 5px;
  }
  .date {
    color: white;
    border-radius: 50%;
    text-align: center;
    padding: 0px !important;
    cursor: pointer;
  }
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-size: 18px;
}

.nav-btn {
  background: #ff8533;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-btn:hover {
  background: #ff541a;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.date {
  color: white;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.date:hover {
  background: #623F99;
  color: white;
}

.time-container {
  text-align: center;
  width: 200px;
}

.time {
  display: flex;
  border-radius: 10px;
  color: white;
}
.hours{
  background: #E65025;
  color: white;
  padding: 10px 20px;
  border-radius: 8px 0 0 8px;
}
.minutes{
  background: #E65025;
  color: white;
  padding: 10px 20px;
  border-radius: 0 8px 8px 0;
}
.time-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.w-40{
  width: 40px;
}
.time-btn {
  background: #E65025;
  border: none;
  padding: 5px 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.ml-5{
  margin-left: 20px;
}

.time-btn:hover {
  background: #ff541a;
}